.landing-grid {
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img {
    padding-top: 10em;
}

.avatar-img img {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 6px dotted white;
    width: 35%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}